<div class="flex h-screen relative">
    <div id="container-menu" class="fixed w-2/12 h-screen">
      <app-menu></app-menu>
    </div>
    <div id="container-info" class="w-10/12 absolute right-0 justify-end bg-moon-secondary">
      
      <div class="row py-3">
        <app-myprofile></app-myprofile>
      </div>

      <div class="row py-3 ">
        <app-aboutme></app-aboutme>
      </div>
      <div class="row py-3 ">
        <app-portfolio></app-portfolio>
      </div>
      <div class="row py-3 ">
        <app-education></app-education>
      </div>
      <div class="row py-3 ">
        <app-skills></app-skills>
      </div>  
      <div class="row py-3 ">
        <app-contactme></app-contactme>
      </div>
    </div>
  </div>