<div id="profile" class="flex justify-start items-center h-screen">
  <div class="flex flex-col justify-center h-1/2 w-full pl-10">
    <p
      id="name"
      class="row sm:text-3xl md:text-5xl lg:text-7xl xl:text-8xl pb-10"
    >
      <span class="uppercase text-moon-textlightselected pr-2">Michael</span>
      <span class="uppercase text-moon-red">Valero</span>
    </p>
    <h5 class="uppercase text-moon-whitenew pb-6 text-2xl">
      échale un vistaso a mi portafolio de proyectos
    </h5>
    <h6 class="capitalize text-moon-whitenew pb-6 ">
      puedes escribirme a mi correo
      <a
        href="mailto:mavpolo0@gmail.com"
        class="lowercase text-moon-marineblue hover:underline hover:text-blue-300"
        >mavpolo0@gmail.com</a
      >
    </h6>

    <button
      onclick="window.open('../assets/documents/CV-Michael-Andrés-Valero-Polo.pdf', '_blank')"
      class="uppercase bg-moon-secondsuccess w-60 hover:bg-moon-success text-moon-primary font-bold py-2 px-4 rounded-md border border-moon-secondsuccess border-opacity-50 transition duration-300 ease-in-out transform hover:scale-105 mb-6"
    >
      descarga mi cv
    </button>

    <div class="text-moon-whitenew pb-6">
      <a href="https://github.com/mavalero010" class="pr-4"
      target="_blank"
        ><i
          class="fa-brands fa-github text-moon-marineblue text-3xl transition duration-300 ease-in-out transform hover:scale-105"
        ></i
      ></a>
      <a href="https://www.linkedin.com/in/michael-andres-valero-polo-a3a07721b/" 
      target="_blank"
      class="pr-4"
        ><i
          class="fa-brands fa-linkedin text-moon-marineblue text-3xl transition duration-300 ease-in-out transform hover:scale-105"
        ></i
      ></a>  
    </div>
  </div>
</div>
