<div id="contactme" class="flex justify-start items-center h-screen">
    <div class="flex flex-col justify-center h-1/2 w-full text-white">
        <h1 class="capitalize text-moon-success text-5xl px-6 mb-8">Contáctame</h1>
        <div class="px-10 flex flex-col">
            <i
             class="fa-solid fa-envelope text-[#FFD43B] px-2 py-1 mr-2 mb-6"
           >
           <span class="ml-2 capitalize text-moon-whitenew">Email</span>
           <a href="mailto:mavpolo0@gmail.com" class="ml-2 text-blue-300 hover:underline hover:text-moon-marineblue">mavpolo0@gmail.com</a>
           </i>

           <i
           class="fa-brands fa-whatsapp text-moon-success px-2 py-1 mr-2 mb-6"
         >
         <span class="ml-2 capitalize text-moon-whitenew">whatsApp</span>
         <a href="https://web.whatsapp.com/send?phone=+573216759967&text=Que%20crack%20trabajemos%20😎" class="ml-2 text-blue-300 hover:underline hover:text-moon-marineblue">+57 321 675 9967</a>
         </i>

         <i
         class="fa-brands fa-linkedin text-moon-whitenew px-2 py-1 mr-2 mb-6"
       >
       <span class="ml-2 capitalize text-moon-whitenew">Linkedin</span>
       <a href="https://www.linkedin.com/in/michael-andres-valero-polo-a3a07721b/" class="ml-2 text-blue-300 hover:underline hover:text-moon-marineblue">/in/michael-andres-valero-polo-a3a07721b/</a>
       </i>
        </div>

        <div class="px-6">
            <p class="text-moon-pink uppercase">sitio web desarrollado en:</p>
            <i class="fa-brands fa-angular bg-[#a32d14] mb-3 text-moon-whitenew px-2 py-1 mr-2 font-primary"><span class="capitalize ml-2">angular</span></i>
            <i class="fa-brands fa-css3 bg-[#1a4fa3] mb-3 text-moon-whitenew px-2 py-1 mr-2 font-primary"><span class="capitalize ml-2">css</span></i>
            <i class="fa-brands fa-html5 bg-[#AA4C38] mb-3 text-moon-whitenew px-2 py-1 mr-2 font-primary"><span class="capitalize ml-2">html</span></i>

        </div>
    </div>
</div>
