<div id="education" class="flex flex-col items-start pt-60">
    <h1 class="capitalize text-moon-textlightselected text-5xl pb-6 px-10">education</h1>
    <div class="flex flex-col justify-center grid grid-cols-2 h-1/2 w-full px-10 text-white ">
        <div 
        *ngFor="let educationItem of educationItems"
        class="mt-6"
        >
            <p class="capitalize text-moon-marinebluelight text-xl mb-2">{{educationItem.field}}</p>
            <p class="capitalize text-moon-secondsuccess text-xs mb-2">{{educationItem.date}}</p>
            <p class="capitalize mb-2 text-xs">{{educationItem.info}}</p>
            <p class="capitalize mb-3 text-xs opacity-50">{{educationItem.time}}</p>
            <a href="{{educationItem.url}}" target="_blank" class="capitalize bg-moon-secondsuccess px-3 hover:bg-moon-success text-moon-primary transition duration-300 ease-in-out transform hover:scale-105 py-2 ">certificado</a>
        </div>
        
    </div>

</div>

