<div id="aboutme" class="flex justify-start items-center h-screen">
    <div class="flex flex-col justify-center h-1/2 w-full px-10 ">
        <h1 class="text-moon-marinebluelight text-5xl pb-6">Sobre Mí</h1>
        <p class="capitalize text-moon-whitenew text-xl pb-6">soy desarrollador fullstack con más de 2 años de experiencia, egresado en ingeniería de sistemas en la universidad del norte en barranquilla, colombia.</p>
        <p class="uppercase text-moon-textlightselected pb-6">actualmente estoy ejerciendo como freelance y me encuentro en búsqueda de retos y constante aprendizaje.</p>
        <p class="capitalize text-md text-moon-whitenew pb-6">para ponerte en contacto conmigo escribeme al correo <a
            href="mailto:mavpolo0@gmail.com"
            class="lowercase text-moon-marineblue hover:underline hover:text-blue-300"
            >mavpolo0@gmail.com</a
        ></p>
        <p class="capitalize text-md text-moon-whitenew">para ver mi perfil profesional y todas mis capacitaciones mira mi perfil de <a
            target="_blank"
            href="https://www.linkedin.com/in/michael-andres-valero-polo-a3a07721b/"
            class="lowercase text-moon-marineblue hover:underline hover:text-blue-300"
            >Linkedin</a
        ></p>
        <p class="capitalize text-md text-moon-whitenew my-3">ó

            <button
            onclick="window.open('../assets/documents/CV Michael-Andrés-Valero-Polo.pdf', '_blank')"
            class="uppercase bg-moon-secondsuccess w-60 hover:bg-moon-success text-moon-primary font-bold py-2 px-4 rounded-md border border-moon-secondsuccess border-opacity-50 transition duration-300 ease-in-out transform hover:scale-105 mb-6"
          >
            descarga mi cv
          </button>
        </p>
  
    </div>
</div>
