<div id="aboutme" class="flex justify-start items-center h-screen">
    <div class="flex flex-col justify-center h-1/2 w-full pl-10 ">
        <h1 class="text-moon-marinebluelight text-5xl pb-6">Sobre Mí</h1>
        <p class="capitalize text-moon-whitenew text-2xl pb-6">soy ingeniero de sistemas graduado en la universidad de norte barranquilla, colombia.</p>
        <p class="uppercase text-moon-textlightselected pb-6">actualmente soy desarrollador freelance y me encuentro en constante aprendizaje.</p>
        <p class="capitalize text-md text-moon-whitenew pb-6">para ponerte en contacto conmigo escribeme al correo <a
            href="mailto:mavpolo0@gmail.com"
            class="lowercase text-moon-marineblue hover:underline hover:text-blue-300"
            >mavpolo0@gmail.com</a
        ></p>
        <p class="capitalize text-md text-moon-whitenew">para ver mi perfil profesional y todas mis capacitaciones mira mi perfil de <a
            target="_blank"
            href="https://www.linkedin.com/in/michael-andres-valero-polo-a3a07721b/"
            class="lowercase text-moon-marineblue hover:underline hover:text-blue-300"
            >Linkedin</a
        ></p>
    </div>
</div>
